@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

header {
  background-color: #3A404E;
}

header span {
  font-size: 20px;
}

.logo-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 10px;
  justify-content: flex-start;
  padding: 0px 20px;
}

.players-container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.players-list {
  width: 100%;
  max-width: 1500px;
  height: min-content;
  display: grid;
  padding: 30px 100px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .players-list {
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .players-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .players-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .players-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .players-list {
    grid-template-columns: repeat(4, 1fr);
  }
}